mixin comments(info)
    li
        .comment-info
            .comment-author-createAt
                span.comment-author=info.nickname
                span.comment-createAt #{info.createAt.toISOString().slice(0,10)}
            .comment-text
                p=info.text
            // 작성자 검증 필요 
            if String(loggedInUser._id) === String(info.owner)
                .comment__menu
                    button(data-commentid=info._id)#deleteBtn.btn.btn-danger.comment__delete 삭제
                    button#editBtn.btn.btn-info.comment__edit 수정
    hr
