// configs
@import "configs/variable.scss";
@import "configs/reset.scss";

//components
@import "components/header.scss";
@import "components/footer.scss";
@import "components/accountErr.scss";
@import "components/linkIcons.scss";

//screens
@import "screens/home.scss";
@import "screens/account.scss";
@import "screens/writeBoard.scss";
@import "screens/board.scss";
@import "screens/seeBoard.scss";
@import "screens/ranking.scss";
@import "screens/search.scss";
@import "screens/searchDetail.scss";

body {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    background-color: #dde8f0;
}

html {
    position: relative;
    min-height: 100%;
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10rem;
}
