// configs
@import "configs/variable";
@import "configs/reset.scss";

//components
@import "components/header.scss";
@import "components/footer.scss";

//screens
@import "screens/home.scss";
@import "screens/join.scss";

body {
    // height: 100vh;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    background-color: #f4f3ea;
    // background-color: white;
    // position: relative;
    display: flex;
    justify-content: center;
}

html {
    position: relative;
    min-height: 100%;
    margin: 0;
}

main {
    width: 60%;
}
