// configs
@import "configs/variable.scss";
@import "configs/reset.scss";

//components
@import "components/header.scss";
@import "components/footer.scss";
@import "components/accountErr.scss";

//screens
@import "screens/home.scss";
@import "screens/account.scss";
@import "screens/writeBoard.scss";
@import "screens/board.scss";
@import "screens/seeBoard.scss";
@import "screens/ranking.scss";
@import "screens/search.scss";
@import "screens/searchDetail.scss";

body {
    // height: 100vh;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    background-color: #dde8f0;
    display: flex;
    justify-content: center;
}

html {
    position: relative;
    min-height: 100%;
    margin: 0;
}

main {
    width: 60%;
    margin-bottom: 10rem;
}

.hidden {
    display: none;
}
