.account-wrapper {
    margin-top: $main-top;
    width: 1000px;

    h1 {
        text-align: center;
    }

    .container {
        display: flex;
        width: 70%;
        gap: 5px 0px;
        flex-direction: column;

        input {
            height: 40px;
            border-radius: 5px;
            border: none;
        }
        .registerbtn {
            margin-top: 20px;
            background-color: #2f2f2f;
            border: none;
            color: white;
        }
        .social__seletor {
            text-align: center;
        }
        p {
            font-size: 0.8rem;
            margin: 5px 0px;
        }
    }

    .container.signin {
        p {
            text-align: center;

            a {
                padding: 0px 5px;
                font-size: 1rem;
                font-weight: bold;
            }
        }
    }
}
