.board__wrapper {
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: $main-top;
    padding: 1rem;
    position: relative;

    form {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: right;
        margin-bottom: 1rem;

        div {
            margin-left: 1rem;
            .new-sort__btn {
                margin-right: 3px;
            }
        }
    }

    thead {
        tr {
            text-align: center;
        }
    }

    thead,
    tbody {
        tr {
            text-align: center;
            td {
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            }
        }
        .number,
        .author,
        .createAt,
        .views {
            font-size: 0.95rem;
        }
        .createAt {
            color: gray;
        }
    }

    .board__page {
        .write__post {
            position: absolute;
            right: 1rem;
            bottom: 1rem;
        }
    }
}
