.board__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1000px;
    margin-top: $main-top;
    padding: 1rem;
    position: relative;

    .board__form {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: right;
        margin-bottom: 1rem;

        .board-option {
            margin-left: 1rem;
            .new-sort__btn {
                margin-right: 3px;
            }
        }
    }

    thead,
    tbody {
        tr {
            text-align: center;
            td {
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            }
        }
    }
    .posting__mixin {
        td {
            font-size: 0.95rem;
        }

        .posting__mixin-createAt {
            color: gray;
        }
    }

    .board-page {
        .write-post {
            position: absolute;
            right: 1rem;
            bottom: 18px;
        }
    }
}
