.home__wrapper {
    border-radius: 1rem;
    box-shadow: 5px 5px 5px black;
    background-color: #b0b6bd;
    margin-top: $main-top;

    .contents {
        padding: 1rem;

        .content {
            border: 2px solid #333e51;
            margin-bottom: 5rem;
            background-color: rgb(245, 245, 245);
            border-radius: 1rem;
            box-shadow: 3px 3px 3px black;
            padding: 2.5rem 1rem 1rem 1rem;

            &:nth-child(1) {
                display: flex;
                flex-wrap: wrap;
                gap: 5px;
                position: relative;

                .lotation__header {
                    position: absolute;
                    top: 2px;
                    left: 20px;
                }

                .lotation__list {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                    gap: 5px;

                    img {
                        width: 100px;
                        height: 100px;
                    }
                }
            }

            &:nth-child(2) {
                height: 500px;
            }
            &:nth-child(3) {
                height: 300px;
            }
        }
    }
}
