.home__wrapper {
    border: 1px solid black;
    margin-top: 10rem;

    .contents {
        padding: 1rem;

        .content {
            border: 1px solid red;
            margin-bottom: 5rem;

            &:nth-child(1) {
                display: flex;
                flex-wrap: wrap;
                padding: 1rem;
                gap: 5px;

                .testBOx {
                    width: 100px;
                    height: 100px;
                    border: 1px solid red;
                }
            }
            &:nth-child(2) {
                height: 500px;
            }
            &:nth-child(3) {
                height: 300px;
            }
        }
    }
}
