.see-posting__wrapper {
    width: 1000px;
    margin-top: $main-top;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
    padding: 1rem;

    .posting__header {
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        margin-bottom: 1rem;
        position: relative;

        .posting__menu {
            display: flex;
            gap: 0.3rem;
            position: absolute;
            right: 0;
            top: 0;
            a {
                font-size: 0.8rem;
            }
        }
        .posting-title {
            text-align: center;
        }
        .posting-info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1rem;

            .posting-author {
                display: flex;
                align-items: center;
                .author-profile__img {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                }
                .author-nickname {
                    margin-left: 5px;
                }
            }
            .posting-meta {
                span {
                    margin-right: 1rem;
                }
                .posting-createAt {
                    font-size: 0.9rem;
                    color: gray;
                }
            }
        }
    }

    .posting-content {
        margin-bottom: 1rem;
        padding: 1rem 0 10rem 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    }

    .posting-comment {
        .comment__header {
            .comment__title {
                margin-bottom: 2rem;
            }
        }

        .write-comment {
            display: flex;
            margin-bottom: 3rem;
            .write-comment__form {
                width: 100%;
                display: flex;

                .write-comment__textarea {
                    border: none;
                    padding: 0.3rem;
                    width: 80%;

                    &:focus {
                        outline: none;
                    }
                }
                .write-comment__resistorBtn {
                    margin-left: 1rem;
                }
            }
        }
        .see-comment {
            li {
                display: flex;
                justify-content: space-between;

                .comment-info {
                    display: flex;
                    gap: 1rem;
                    width: 100%;

                    .comment-author-createAt {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 10%;
                        font-size: 0.9rem;
                        flex-direction: column;
                        gap: 0.5rem;

                        .comment-createAt {
                            font-size: 0.7rem;
                            color: gray;
                        }
                    }
                    .comment-text {
                        width: 70%;
                    }
                    .comment__menu {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
    }
}
