.board-write__wrapper {
    margin-top: $main-top;
    width: 1000px;
    padding: 1rem;

    .board-write__form {
        .board-write__title {
            display: block;
            border: none;
            background-color: inherit;
            width: 100%;
            border-bottom: 1px solid gray;
            margin-bottom: 3rem;
            padding: 1rem;

            &:focus {
                outline: none;
            }

            &::placeholder {
                font-size: 1.5rem;
            }
        }

        .board-write__resistorBtn {
            display: block;
            width: 100%;
            margin-top: 3rem;
        }
    }
}
