.screen__header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0px;
    padding: 1.5rem;
    background-color: #9da6b1;
    background-image: url(/img/back.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 10rem 0rem;
    z-index: 1;

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: absolute;
        bottom: -1rem;
        background-color: black;
        gap: 0.5rem;
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 70px;
            height: 30px;
            color: white;
            &:hover {
                color: #cfb26a;
            }
        }
    }

    .header__contents {
        display: flex;
        gap: 1.5rem;
        align-items: center;
        position: relative;

        .main-logo {
            font-family: "Lobster", cursive;
            font-size: 2rem;
            color: #cfb26a;
            text-shadow: -1px 0 black, 0 1px black, 2px 0 black, 0 -2px black;
        }

        .user-search {
            display: flex;
            padding: 10px 5px;
            margin: 0px 5px;
            align-items: center;
            justify-content: center;

            .search__form {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 0px 10px;

                .search__input {
                    width: 400px;
                    height: 35px;
                    border: none;
                    border-radius: 5px;
                }
            }
        }
    }

    .user-login {
        width: 240px;

        .user-profile {
            display: flex;
            justify-content: center;
            align-items: center;

            .user-img {
                width: 35px;
                height: 35px;
                margin-right: 5px;
                border-radius: 50%;
            }
            .user-info {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 5px;
            }

            .user-info__span {
                font-size: 0.8rem;
            }

            .logIn-control {
                margin-left: 1rem;
            }
        }
    }
}
