.screen__header {
    display: flex;
    position: fixed;
    width: 100%;
    top: 0px;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    padding: 1.5rem;
    background-color: #cad0d7;
    background-color: #838b94;
    background-image: url(/img/back.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 10rem 0rem;

    z-index: 1;

    .test {
        display: flex;
        gap: 2rem;
        position: relative;
    }

    nav {
        display: flex;
        justify-content: center;
        position: absolute;
        background-color: #333e51;
        width: 100%;
        gap: 0.5rem;
        bottom: -1rem;
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 70px;
            height: 30px;

            color: white;
        }
    }
    .contents {
        display: flex;
        padding: 10px 5px;
        margin: 0px 5px;
        align-items: center;
        justify-content: center;

        .main-logo {
            font-family: "Lobster", cursive;
            font-size: 2rem;
            color: #cfb26a;
            text-shadow: -1px 0 black, 0 1px black, 2px 0 black, 0 -2px black;
            margin-right: 1.5rem;
        }

        form {
            display: flex;
            gap: 0px 10px;
            justify-content: center;
            align-items: center;

            input {
                width: 250px;
                height: 35px;
                border: none;
                border-radius: 5px;
            }
        }
    }
    .side__menu {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 0px 10px;
        width: 240px;
        // border: 1px solid black;
        // margin-left: 1rem;
        // width: 20%;

        .user__profile {
            display: flex;
            justify-content: center;
            align-items: center;

            .user__info {
                display: flex;
                gap: 3px;
                flex-direction: column;
            }
            img {
                width: 35px;
                height: 35px;
                margin-right: 5px;
                border-radius: 50%;
            }

            span {
                font-size: 0.8rem;
            }

            a {
                margin-left: 1rem;
            }
        }
    }
}
