extends base/layout

include ./mixins/boardContents

block content
    .board__wrapper
        form
            input(type="text")
            div
                span(style="border:1px solid black;background-color:green") 최신글
                span(style="border:1px solid black") 인기글 
        table.table.table-hover
            thead 
                tr
                    td.number 번호
                    td.title 제목
                    td.author 작성자
                    td.createAt 작성일
                    td.views 조회수
            if (postings.length > 0)
                each posting in postings
                    +postings(posting)
        div#pageController.board__page
            if (page > 1)
                a(href=`/board/page=${Number(page)-1}`) 
                    button#previousBtn.pre__btn 이전
            a(href=`/board/page=${Number(page)+1}`) 
                button#nextBtn.next__btn 다음
            if loggedIn
                a(href="/board/write") 글쓰기 
block scripts
    script(src="/assets/js/paging.js") 



