extends base/layout
block content
    table(style="margin-top:10rem")
        thead 
            tr
                td 번호
                td 제목
                td 작성자
                td 날짜
                td 조회수
        tbody
            tr
                td 1
                td 안녕
                td 리수
                td 2021.10.01
                td 0회
    a(href="/board/write") 글쓰기 




