extends base/layout

include ./mixins/boardContents

block content
    .board__wrapper
        form
            input(type="text")
            div
                button.btn 최신글
                button.btn 인기글

        table.table.table-hover
            thead 
                tr
                    td.number 번호
                    td.title 제목
                    td.author 작성자
                    td.createAt 작성일
                    td.views 조회수
            if (postings.length > 0)
                each posting in postings
                    +postings(posting)
        div#pageController.board__page
            if (page > 1)
                a(href=`/board/page=${Number(page)-1}`) 
                    button#previousBtn.btn.btn-info.pre__btn 이전
            a(href=`/board/page=${Number(page)+1}`) 
                button#nextBtn.btn.btn-info.next__btn 다음
            if loggedIn
                a(href="/board/write").write__post 
                    button.btn.btn-info 글쓰기 
block scripts
    script(src="/assets/js/views.js") 
