extends base/layout

block content 
    .home__wrapper
        .contents
            .content
                .testBOx img
                .testBOx img
                .testBOx img
                .testBOx img
                .testBOx img
                .testBOx img
                .testBOx img
                .testBOx img
                .testBOx img
                .testBOx img
                .testBOx img
                .testBOx img
                .testBOx img
                .testBOx img
                .testBOx img
            .content 실시간 채팅
            .content 게시판
        