extends base/layout
block content
    .account__wrapper
        h1 회원가입
        form(method="POST")#joinForm
            .container
                label(for='userId')
                    b 아이디
                input(type='text' id='userId' name="userId"  require minLength=6 maxLength=15 )
                p#stateId 
                label(for='password')
                    b 비밀번호
                input#password(type='password' name="password" require   minLength=6 maxLength=20)
                p#statePass
                label(for='password2')
                    b 비밀번호 확인
                input#password2(type='password'  name='password2' require)
                p#statePass2
                label(for='nickname')
                    b 롤 닉네임
                input#nickname(type='text' name='nickname' require )
                p#stateNickname
                input.registerbtn(type="submit" value="가입하기")
                //- .social__seletor
                //-     a(href="#")
                //-         span kakao
                //-     a(href="#")
                //-         span google
            .container.signin
                p Already have an account? 
                    a(href='/login') Sign in&rarr;
                    

block scripts
    script(async src="/assets/js/join.js") 
