extends base/layout
block content
    .join__wrapper
        h1 회원가입
        form(method="POST").join-form
            .container
                label(for='user_id')
                    b 아이디
                input(type='text' id='user_id' name="userId"   )
                label(for='psw')
                    b 비밀번호
                input#pwd(type='password' name="password"  )
                label(for='password2')
                    b 비밀번호 확인
                input#pwd-repeat(type='password'  name='password2')
                label(for='lol-nickname')
                    b 롤 닉네임
                input#pwd-repeat(type='text' name='nickname' )
                input.registerbtn(type="submit" value="가입하기")
                .social__seletor
                    a(href="#")
                        span kakao
                    a(href="#")
                        span google
            .container.signin
                p Already have an account? 
                    a(href='#') Sign in
                    | .
