extends base/layout
block content
    .account__wrapper
        h1 로그인
        form(method="POST").account__form#loginForm
            .container
                label(for='userId')
                    b 아이디
                input(type='text' id='userId' name="userId"  require)
                label(for='password')
                    b 비밀번호
                input#password(type='password' name="password" require)
                p#submitState
                input.registerbtn(type="submit" value="로그인")
                .social__seletor
                    a(href="#")
                        span kakao
                    a(href="#")
                        span google
            .container.signin
                p Don't have an account? 
                    a(href='/join') Create Now &rarr;
                    | 

block scripts
    script(async src="/assets/js/login.js") 




