extends base/layout

block content 
    .ranking__wrapper
        .ranking-highest
            ul.ranking-highest__list
                li.ranking-highest__item
                    .ranking-highest__item--rank
                        i(style="color:#C9A83B").fas.fa-medal.fa-2x
                        span.summoner--level Lv.300
                    .ranking-highest__item--summoner
                        img(style="" src="https://ddragon.leagueoflegends.com/cdn/11.19.1/img/profileicon/4561.png", alt="")                    
                        span 쪼렙이다말로하자
                    .ranking-highest__item--tier
                        img(style="" src="https://opgg-static.akamaized.net/images/medals/challenger_1.png?image=q_auto:best&v=1", alt="")
                        .ranking-highest__item--tierLp
                            span Challenger 1
                            span 1300 LP
                    .ranking-highest__item--winratio
                        span 200승 200패 50%
                li.ranking-highest__item
                    .ranking-highest__item--rank
                        i(style="color:#9FA6AA").fas.fa-medal.fa-2x
                        span Lv.300
                    .ranking-highest__item--summoner
                        img(style="width:50px;height:50px;" src="https://ddragon.leagueoflegends.com/cdn/11.19.1/img/profileicon/4561.png", alt="")                    
                        span 쪼렙이다말로하자
                    .ranking-highest__item--tier
                        img(style="width:50px;height:50px;" src="https://opgg-static.akamaized.net/images/medals/challenger_1.png?image=q_auto:best&v=1", alt="")
                        .ranking-highest__item--tierLp
                            span Challenger 1
                            span 1300 LP
                    .ranking-highest__item--winratio
                        span 200승 200패 50% 
                li.ranking-highest__item
                    .ranking-highest__item--rank
                        i(style="color:#5A2A19").fas.fa-medal.fa-2x
                        span Lv.300
                    .ranking-highest__item--summoner
                        img(style="width:50px;height:50px;" src="https://ddragon.leagueoflegends.com/cdn/11.19.1/img/profileicon/4561.png", alt="")                    
                        span 쪼렙이다말로하자
                    .ranking-highest__item--tier
                        img(style="width:50px;height:50px;" src="https://opgg-static.akamaized.net/images/medals/challenger_1.png?image=q_auto:best&v=1", alt="")
                        .ranking-highest__item--tierLp
                            span Challenger 1
                            span 1300 LP
                    .ranking-highest__item--winratio
                        span 200승 200패 50%                                           
                    
        table.table.table-border.ranking-table
            thead
                tr
                    th.ranking-table__header 랭킹
                    th.ranking-table__header 닉네임
                    th.ranking-table__header 티어
                    th.ranking-table__header LP
                    th.ranking-table__header 레벨
                    th.ranking-table__header 승률
            tbody
                tr.ranking-table__row 
                    td.ranking-table__cell.ranking-table__cell--rank 1
                    td.ranking-table__cell.ranking-table__cell--summoner
                        img(src="https://ddragon.leagueoflegends.com/cdn/11.19.1/img/profileicon/4561.png", alt="")
                        span 쪼렙이다말로하자
                    td.ranking-table__cell.ranking-table__cell--tier challenger
                    td.ranking-table__cell.ranking-table__cell--lp 300 LP
                    td.ranking-table__cell.ranking-table__cell--level 302 
                    td.ranking-table__cell.ranking-table__cell--winratio 200승 10패 90^
                tr
                    td 1
                    td 쪼렙이다말로하자
                    td challenger
                    td 300 LP
                    td 302 
                    td 200승 10패 90^
                tr
                    td 1
                    td 쪼렙이다말로하자
                    td challenger
                    td 300 LP
                    td 302 
                    td 200승 10패 90^
                tr
                    td 1
                    td 쪼렙이다말로하자
                    td challenger
                    td 300 LP
                    td 302 
                    td 200승 10패 90^
                tr
                    td 1
                    td 쪼렙이다말로하자
                    td challenger
                    td 300 LP
                    td 302 
                    td 200승 10패 90^
                tr
                    td 1
                    td 쪼렙이다말로하자
                    td challenger
                    td 300 LP
                    td 302 
                    td 200승 10패 90^
                tr
                    td 1
                    td 쪼렙이다말로하자
                    td challenger
                    td 300 LP
                    td 302 
                    td 200승 10패 90^
                tr
                    td 1
                    td 쪼렙이다말로하자
                    td challenger
                    td 300 LP
                    td 302 
                    td 200승 10패 90^
                tr
                    td 1
                    td 쪼렙이다말로하자
                    td challenger
                    td 300 LP
                    td 302 
                    td 200승 10패 90^
                tr
                    td 1
                    td 쪼렙이다말로하자
                    td challenger
                    td 300 LP
                    td 302 
                    td 200승 10패 90^
                tr
                    td 1
                    td 쪼렙이다말로하자
                    td challenger
                    td 300 LP
                    td 302 
                    td 200승 10패 90^
                tr
                    td 1
                    td 쪼렙이다말로하자
                    td challenger
                    td 300 LP
                    td 302 
                    td 200승 10패 90^
                tr
                    td 1
                    td 쪼렙이다말로하자
                    td challenger
                    td 300 LP
                    td 302 
                    td 200승 10패 90^
                tr
                    td 1
                    td 쪼렙이다말로하자
                    td challenger
                    td 300 LP
                    td 302 
                    td 200승 10패 90^
                tr
                    td 1
                    td 쪼렙이다말로하자
                    td challenger
                    td 300 LP
                    td 302 
                    td 200승 10패 90^
                tr
                    td 1
                    td 쪼렙이다말로하자
                    td challenger
                    td 300 LP
                    td 302 
                    td 200승 10패 90^
                tr
                    td 1
                    td 쪼렙이다말로하자
                    td challenger
                    td 300 LP
                    td 302 
                    td 200승 10패 90^
                tr
                    td 1
                    td 쪼렙이다말로하자
                    td challenger
                    td 300 LP
                    td 302 
                    td 200승 10패 90^
                tr
                    td 1
                    td 쪼렙이다말로하자
                    td challenger
                    td 300 LP
                    td 302 
                    td 200승 10패 90^
        .ranking-pagination
            ul.ranking-pagination__list
                li.ranking-pagination__item
                    a(href="#")
                        button.btn.btn-default ◀ 
                li.ranking-pagination__item
                    a(href="#")
                        button.btn.btn-default 1 
                li.ranking-pagination__item
                    a(href="#")
                        button.btn.btn-default 2 
                li.ranking-pagination__item
                    a(href="#")
                        button.btn.btn-default 3 
                li.ranking-pagination__item
                    a(href="#")
                        button.btn.btn-default 4 
                li.ranking-pagination__item
                    a(href="#")
                        button.btn.btn-default 5 
                li.ranking-pagination__item
                    a(href="#")
                        button.btn.btn-default 6
                li.ranking-pagination__item
                    a(href="#")
                        button.btn.btn-default ▶ 


