html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title riot.txt
    body
        span 45e53736-e878-4896-979f-19b7cd46a4bc 