extends base/layout
block content
    .board-write__wrapper
        form.board-write__form(method="POST")
            input.board-write__title(type="text" placeholder="제목" name="title" required maxlength=35)
            textarea(id="editor4" name="contents" placeholder="본문" wrap="hard" cols=30 required )
            button.board-write__resistorBtn(type="submit").btn.btn-info 게시하기
block scripts
    script(src="https://cdn.ckeditor.com/4.16.2/standard/ckeditor.js") 
    script.
        CKEDITOR.replace("editor4");
        CKEDITOR.config.height=500;

                        


