extends base/layout
block content
    .board-write__wrapper
        form(method="POST")
            input(type="text" placeholder="제목" name="title" required)
            textarea(id="editor4" name="contents" placeholder="본문" wrap="hard" cols=30 required )
            button(type="submit") 게시하기
block scripts
    script(src="https://cdn.ckeditor.com/4.16.2/standard/ckeditor.js") 
    script.
        CKEDITOR.replace("editor4");
        CKEDITOR.config.height=500;

                        


