footer
    ul
        li oursite.com
        li
        a(href='#') &#xC774;&#xC6A9;&#xC57D;&#xAD00;
        li
        a(href='#') &#xAC1C;&#xC778;&#xC815;&#xBCF4;&#xCDE8;&#xAE09;&#xBC29;&#xCE68;
        li admin@naver.com
    p
        | &copy; 2012-2021 OP.GG. OP.GG isn&rsquo;t endorsed by Riot Games and
        | doesn&rsquo;t reflect the views or opinions of Riot Games or anyone
        | officially involved in producing or managing League of Legends.
        | League of Legends and Riot Games are trademarks or registered
        | trademarks of Riot Games, Inc. League of Legends &copy; Riot Games,
        | Inc.