header
    nav
        a(href="#") 
            span Home
        a(href="#") 
            span Ranking
        a(href="#") 
            span Game
        a(href="#") 
            span Board
    div.contents
        form
            a(href="#")
                span logoImg
            input(type="text")
            i.fas.fa-search.fa-lg
            i.fas.fa-microphone.fa-lg

    div.login__form
        form
            input(type="text")
            input(type="text")
            input(type="submit" value="Login")
        div
            a(href="#")
                span 아이디/비밀번호 찾기
            a(href="#")
                span 회원가입