header
    nav.nav
        a(href="#") 
            span Home
        a(href="#") 
            span Ranking
        a(href="#") 
            span Game
        a(href="#") 
            span Board
    div.contents
        form
            a(href="#")
                span.main-logo CFS.GG
            input(type="text").form-control
            button(type="submit").btn.btn-default
                i.fas.fa-search.fa-lg
            button(type="submit").btn.btn-default
                i.fas.fa-microphone.fa-lg        
    div.side__menu
        i.fas.fa-cog.fa-lg
        a(href="#")    
            span 로그인
        a(href="/join") 
            span 회원가입
