header.screen__header
    div(style="width:200px;height:50px;")
    nav.nav           
        a(href="/") 홈
        a(href="/ranking/page=1") 랭킹
        a(href="/board/page=1") 게시판
        a(href="#") 예정 
        a(href="#") 예정
        a(href="#") 예정
        a(href="#") 예정
    div.header__contents
        a(href="/")
            span.main-logo CFS.GG
        div.user-search
            form.search__form(action="/summoner/")          
                input.search__input(type="text" name="username")
                button.btn.btn-default(type="submit")
                    i.fas.fa-search.fa-lg
                button.btn.btn-default(type="submit")
                    i.fas.fa-microphone.fa-lg        
        div.user-login
            if loggedIn
                div.user-profile
                    img.user-img(src=`${process.env.LOL_CDN_URL}img/profileicon/${loggedInUserInfo.profileIconId}.png`)
                    div.user-info
                        span.user-info__span.user-nickname
                            strong=loggedInUserInfo.name
                        span.user-info__span.user-level
                            small="Level: "+loggedInUserInfo.summonerLevel
                    a.logIn-control(href="/user/logout") 로그아웃
            else
                a.logIn-control(href="/login") 로그인                        
                a.logIn-control(href="/join") 회원가입
        ul.icon__list
            .list-row
                a(href='https://github.com/leesuun/lol-project' target='_blank')
                    li.icons
                        i.fab.fa-github-square.fa-2x
                a(href='https://www.facebook.com/' target='_blank')
                    li.icons
                        i.fab.fa-facebook-square.fa-2x
                a(href='https://www.instagram.com/' target='_blank')
                    li.icons
                        i.fab.fa-instagram-square.fa-2x
            .list-row
                a(href='#')
                    li.icons
                        i.fab.fa-app-store-ios.fa-2x
                a(href='#')
                    li.icons
                        i.fab.fa-pinterest-square.fa-2x                  
